{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Server hosting Pru 2.0 API",
    "version" : "1.0.0",
    "title" : "Pru 2.0 API Rev. PMN",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "email" : "apiteam@prudential.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers" : [ {
    "url" : "https://api.prudential.com/v1"
  }, {
    "url" : "http://api.prudential.com/v1"
  } ],
  "tags" : [ {
    "name" : "Customer",
    "description" : "Customer API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Product",
    "description" : "Product API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Policy",
    "description" : "Policy API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Claim",
    "description" : "Claim API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Underwriting",
    "description" : "Underwriting API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Document",
    "description" : "Document API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Billing",
    "description" : "Billing API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Payment",
    "description" : "Payment API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Agent",
    "description" : "Agent API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Quote",
    "description" : "Quote API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Proposal",
    "description" : "Proposal API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Workflow",
    "description" : "Workflow API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Fund",
    "description" : "Fund API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Campaign",
    "description" : "Campaign API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Doctor",
    "description" : "Doctor API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "User",
    "description" : "User API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Data",
    "description" : "Data API",
    "externalDocs" : {
      "description" : "Data Lake API",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Message",
    "description" : "Messaging API",
    "externalDocs" : {
      "description" : "Data Lake API",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Hospital",
    "description" : "Hospital API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Geo location",
    "description" : "Geo location API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Resource",
    "description" : "Resource API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Partner",
    "description" : "Partner API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Chat",
    "description" : "Chat API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Notification",
    "description" : "Notification API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "Group",
    "description" : "Group API",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "PMN User API",
    "description" : "PMN Hospital Portal User API",
    "externalDocs" : {
      "description" : "API Related to Hospital Portal",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "PMN Admission API",
    "description" : "PMN Hospital Portal Admission API",
    "externalDocs" : {
      "description" : "API Related to Hospital Portal",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "PMN Document API",
    "description" : "PMN Hospital Portal Document API",
    "externalDocs" : {
      "description" : "API Related to Hospital Portal",
      "url" : "http://swagger.io"
    }
  }, {
    "name" : "PMN Case API",
    "description" : "PMN Hospital Portal Case API"
  }, {
    "name" : "PMN General API",
    "description" : "PMN Hospital Portal General API"
  } ],
  "paths" : {
    "/customer" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create new customer",
        "description" : "",
        "operationId" : "createCustomer",
        "requestBody" : {
          "description" : "JSON model of customer to create",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "userVerified" : {
                      "type" : "boolean"
                    },
                    "body" : {
                      "$ref" : "#/components/schemas/Customer"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "header" : {
                      "$ref" : "#/components/schemas/ResponseHeader"
                    },
                    "id" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/customer/search" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Find customers by query criteria",
        "description" : "",
        "operationId" : "findCustomersByCriteria",
        "requestBody" : {
          "description" : "Query JSON to define the criteria",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Query"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Customer"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "search:customers" ]
        } ]
      }
    },
    "/customer/exist" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Check if customer exist",
        "description" : "",
        "operationId" : "existCustomer",
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "type" : "object",
                      "properties" : {
                        "idType" : {
                          "type" : "string"
                        },
                        "id" : {
                          "type" : "string"
                        }
                      }
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer by Id",
        "description" : "Returns a single customer",
        "operationId" : "getCustomerById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "description" : "Id of customer to return",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/Customer"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Customer Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "put" : {
        "tags" : [ "Customer" ],
        "summary" : "Update an existing customer",
        "description" : "",
        "operationId" : "updateCustomer",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "Id of customer to update"
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Customer"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customer" ],
        "summary" : "Delete a customer",
        "description" : "",
        "operationId" : "deleteCustomer",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "customer Id to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "delete:customers" ]
        } ]
      }
    },
    "/customer/{id}/address" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all customer addresses",
        "description" : "",
        "operationId" : "getCustomerAddresses",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "$ref" : "#/components/schemas/Address"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/address/{key}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get selected customer address",
        "description" : "",
        "operationId" : "getCustomerAddress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/Address"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Update customer address",
        "description" : "",
        "operationId" : "updateCustomerAddress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Address"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customer" ],
        "summary" : "Delete selected address",
        "description" : "",
        "operationId" : "deleteCustomerAddress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "customer Id to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "delete:customers" ]
        } ]
      }
    },
    "/customer/{id}/contact" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all customer contacts",
        "description" : "",
        "operationId" : "getCustomerContacts",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "$ref" : "#/components/schemas/Contact"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/contact/{key}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get selected customer contact",
        "description" : "",
        "operationId" : "getCustomerContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/Contact"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Update customer contact",
        "description" : "",
        "operationId" : "updateCustomerContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Contact"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customer" ],
        "summary" : "Delete selected contact",
        "description" : "",
        "operationId" : "deleteCustomerContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "customer Id to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "delete:customers" ]
        } ]
      }
    },
    "/customer/{id}/preference" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all customer preferences",
        "description" : "",
        "operationId" : "getCustomerPreferences",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/CustomerPreference"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/preference/{key}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get selected customer preference",
        "description" : "",
        "operationId" : "getCustomerPreference",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/CustomerPreference"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Update customer preference",
        "description" : "",
        "operationId" : "updateCustomerPreference",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/CustomerPreference"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customer" ],
        "summary" : "Delete customer preference",
        "description" : "",
        "operationId" : "deleteCustomerPreference",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "customer Id to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "delete:customers" ]
        } ]
      }
    },
    "/customer/{id}/bankaccount" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all customer bank accounts",
        "description" : "",
        "operationId" : "getCustomerBankAccounts",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "$ref" : "#/components/schemas/BankAccount"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/bankaccount/{key}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get selected customer bank account",
        "description" : "",
        "operationId" : "getCustomerBankAccount",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/BankAccount"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Update customer bank account",
        "description" : "",
        "operationId" : "updateCustomerBankAccount",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/BankAccount"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseHeader"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Customer" ],
        "summary" : "Delete selected bank account",
        "description" : "",
        "operationId" : "deleteCustomerBankAccount",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "customer Id to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Key identifier of bank account",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "delete:customers" ]
        } ]
      }
    },
    "/customer/{id}/agent" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get agent of customer",
        "description" : "",
        "operationId" : "getCustomerAgent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Agent"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/policy" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all policies of customer",
        "description" : "",
        "operationId" : "getCustomerPolicies",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Policy"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/claim" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all claims of customer",
        "description" : "",
        "operationId" : "getCustomerClaims",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Claim"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/lifestyle" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer lifestyle details",
        "description" : "",
        "operationId" : "getCustomerLifestyle",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/CustomerLifestyle"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Update customer lifestyle details",
        "description" : "",
        "operationId" : "updateCustomerLifestyle",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/CustomerLifestyle"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/CustomerLifestyle"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/lifestyle/estimateBMI" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Post Profile Picture for BMI",
        "description" : "",
        "operationId" : "estimateBMI",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Document"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/CustomerLifestyle"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/transaction" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get transaction history of customer",
        "description" : "",
        "operationId" : "getCustomerTransactions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "type of transaction (Credit/Debit)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "type of transaction",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/TransactionDetail"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/payment" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get payment history of customer",
        "description" : "",
        "operationId" : "getCustomerPayments",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Payment"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/billing" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get billing detail of customer",
        "description" : "",
        "operationId" : "getCustomerBillingDetail",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/BillingDetail"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/billing/invoice" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer invoice",
        "description" : "",
        "operationId" : "getCustomerInvoices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/BillingInvoice"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/billing/stmt" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer account statement",
        "description" : "",
        "operationId" : "getCustomerAccountStmt",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/AccountStmt"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/workflow" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all workflows of customer",
        "description" : "",
        "operationId" : "getCustomerWorkflows",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Workflow"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/notify" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Send customer notification",
        "description" : "",
        "operationId" : "notifyCustomer",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of customer to send notifications to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Notification object that needs to be sent",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Notification"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/event" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get events of customer",
        "description" : "Return all events associated with customer. This includes past and future events",
        "operationId" : "getCustomerEvents",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Event"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create event for this customer",
        "description" : "Create event for this customer",
        "operationId" : "createEvent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Event object that needs to be created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Event"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "header" : {
                      "$ref" : "#/components/schemas/ResponseHeader"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers", "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/conversation" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create conversation session with this customer",
        "description" : "Create conversation session for this customer",
        "operationId" : "createCustomerConversation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Conversation object that needs to be created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Conversation"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "string"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "put" : {
        "tags" : [ "Customer" ],
        "summary" : "Update conversation status",
        "description" : "Update conversation status",
        "operationId" : "upateConversationStatus",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Conversation object that needs to be updated",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Conversation"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all conversations with this customer",
        "description" : "Get all conversations with this customer",
        "operationId" : "getCustomerConversations",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Conversation"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/conversation/{convId}/message" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create message for this conversation",
        "description" : "Create message for this conversation",
        "operationId" : "createConversationMessage",
        "parameters" : [ {
          "name" : "convId",
          "in" : "path",
          "description" : "conversation Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Conversation Message object that needs to be created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/ConversationMessage"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "string"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get messages for this conversation",
        "description" : "Get messages for this conversation",
        "operationId" : "getConversationMessages",
        "parameters" : [ {
          "name" : "convId",
          "in" : "path",
          "description" : "conversation Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/ConversationMessage"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/conversation/{convId}/outcome" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create outcome of this conversation",
        "description" : "Create outcome of this conversation",
        "operationId" : "createConversationOutcome",
        "parameters" : [ {
          "name" : "convId",
          "in" : "path",
          "description" : "conversation Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "ConversationOutcome object that needs to be created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/ConversationOutcome"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "string"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      },
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get outcome of this conversation",
        "description" : "Get outcome of this conversation",
        "operationId" : "getConversationOutcome",
        "parameters" : [ {
          "name" : "convId",
          "in" : "path",
          "description" : "conversation Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/ConversationOutcome"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Id supplied"
          },
          "404" : {
            "description" : "Customer not found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "put" : {
        "tags" : [ "Customer" ],
        "summary" : "Update outcome of this conversation",
        "description" : "Update outcome of this conversation",
        "operationId" : "updateConversationOutcome",
        "parameters" : [ {
          "name" : "convId",
          "in" : "path",
          "description" : "conversation Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "ConversationOutcome object that needs to be updated created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/ConversationOutcome"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "string"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/complaint" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer complaints",
        "description" : "",
        "operationId" : "getCustomerComplaints",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/CustomerComplaint"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create customer complaint",
        "description" : "",
        "operationId" : "createCustomerComplaint",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Complaint object to be created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/CustomerComplaint"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/document" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer documents",
        "description" : "",
        "operationId" : "getCustomerDocuments",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Document"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Add customer documents",
        "description" : "",
        "operationId" : "addCustomerDocuments",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Document object that needs to be created",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/Document"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/comms" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get customer communications",
        "description" : "",
        "operationId" : "getCustomerComms",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Notification"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/health/medicine" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Order medicine for this customer",
        "description" : "Order medicine for this customer",
        "operationId" : "orderMedicine",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Medicine request",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/MedicineRequest"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/MedicineResponse"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/health/ambulance" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Call ambulance for this customer",
        "description" : "Call ambulance for this customer",
        "operationId" : "callAmbulance",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Ambulance request",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/RequestHeader"
                }, {
                  "type" : "object",
                  "properties" : {
                    "body" : {
                      "$ref" : "#/components/schemas/AmbulanceRequest"
                    }
                  }
                } ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/AmbulanceResponse"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Id supplied"
          },
          "404" : {
            "description" : "Customer not found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "write:customers" ]
        } ]
      }
    },
    "/customer/{id}/health/consultation" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all consultations",
        "description" : "Get all consultations",
        "operationId" : "getAllConsultations",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Consulation"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/health/prescription" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all prescriptions",
        "description" : "Get all prescriptions",
        "operationId" : "getAllPrescriptions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Prescription"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/health/test" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all lab tests",
        "description" : "Get all lab tests",
        "operationId" : "getAllLabTests",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/TestReport"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "security" : [ {
          "pru_api_auth" : [ "read:customers" ]
        } ]
      }
    },
    "/customer/{id}/health/test/{key}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get lab tests by Id",
        "description" : "Get lab tests by Id",
        "operationId" : "getLabTestsById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "id of customer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "Lab test id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/ResponseHeader"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "body" : {
                        "$ref" : "#/components/schemas/TestReport"
                      }
                    }
                  } ]
[...]
